{% extends "layout.html" %}

{% block title %}
    Christopher's Portfolio
{% endblock %}

    
{% block content %}
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
<section class="pad" id="home">
    <div id="container-fluid">
        <div class="row" id="top-name">
            <h1> Christopher Demirjian</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3 col-6 justify-content-center align-items-center">  
                <br>
                <div class="row" id="headshot">
                    <img src="/static/images/Lors_headshot_yearbook.png" alt="headshot of Christopher" style="width: 325px"> 
                </div>
                <div class="row" id="blurb">
                    <div id="student">
                        Master's Student: ML, AI
                    </div>
                    <div class="italic" id="job">
                        Software Engineer, Machine Learning Engineer
                    </div>
                    <div class="bold" id="school">
                        Columbia Engineering
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-6">
                <br>
                <br>
                <h2 class="bold"> About Me </h2>
                <p id="about">
                </p>
                <!--div class="row">
                    <div class="col-md-6 col-6 d-flex justify-content-center align-items-center">
                        <img src="/static/images/cc.png" class="crown">
                    </div>
                    <div class="col-md-6 col-6 d-flex justify-content-center align-items-center">
                        <img src="/static/images/seas.png" class="crown">
                    </div>
                </div-->
            </div>
            <div class="col-md-3 col-12 d-flex justify-content-center align-items-start">
                <div class="image-container">
                    <img src="/static/images/resume_thumb.png" alt="Resume Thumbnail">
                    <a href="/static/pdf/Christopher_Demirjian_Resume_9_6.pdf" target="_blank">
                        <button type="button" class="btn btn-info resume-btn">View Resume</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="carousel">
    <div class="row">
        <h3> Featured Projects </h3>
        <div id="projectCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#projectCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        
            <!-- Carousel inner -->
            <div class="carousel-inner">
                <!-- First project -->
                <div class="carousel-item active">
                    {% for project in projects.swe.backend %}
                        {% if project.name == 'cloud_compute' %}
                            <div class="project" id="{{ project.name }}" data-tags="{{ project.tags | join(',') }}">
                                <h4>{{ project.title }}</h4>
                                <hr class="bar">
                                <h5 class="completion">Completion: {{ project.completion }}</h5>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="thumbnail-container">
                                            <img src="{{ project.img }}" alt="{{ project.title }} diagram" class="thumbnail">
                                        </div>
                                    </div>
                                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                                </div>
                                <h6 class="tag-text">Tags: 
                                    {% for tag in project.tags %}
                                    <span class="tag">{{ tag }}</span>
                                    {% endfor %}
                                </h6>
                                <div class="project-row">
                                    <span class="project-git">
                                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                                    </span>
                                    <span class="project-git">
                                        <a href="{{ project.pdf }}" class="project-git fa-solid fa-file-pdf fa-2xl" target="_blank" aria-label="link to project report"></a>
                                    </span>
                                    <a href="/templates/pages/{{ project.name }}.html" class="read-more-button">
                                        <button type="button" class="btn btn-outline-info">Read More</button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        
                <!-- Second project -->
                <div class="carousel-item">
                    {% for project in projects.cyber.networks %}
                        {% if project.name == 'P4' %}
                            <div class="project" id="{{ project.name }}" data-tags="{{ project.tags | join(',') }}">
                                <h4>{{ project.title }}</h4>
                                <hr class="bar">
                                <h5 class="completion">Completion: {{ project.completion }}</h5>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="thumbnail-container">
                                            <img src="{{ project.img }}" alt="{{ project.title }} diagram" class="thumbnail">
                                        </div>
                                    </div>
                                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                                </div>
                                <h6 class="tag-text">Tags: 
                                    {% for tag in project.tags %}
                                    <span class="tag">{{ tag }}</span>
                                    {% endfor %}
                                </h6>
                                <div class="project-row">
                                    <span class="project-git">
                                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                                    </span>
                                    <span class="project-git">
                                        <a href="{{ project.pdf }}" class="project-git fa-solid fa-file-pdf fa-2xl" target="_blank" aria-label="link to project report"></a>
                                    </span>
                                    <a href="/templates/pages/{{ project.name }}.html" class="read-more-button">
                                        <button type="button" class="btn btn-outline-info">Read More</button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Third project -->
                <div class="carousel-item">
                    {% for project in projects.aiml.nlp %}
                        {% if project.name == 'bert' %}
                            <div class="project" id="{{ project.name }}" data-tags="{{ project.tags | join(',') }}">
                                <h4>{{ project.title }}</h4>
                                <hr class="bar">
                                <h5 class="completion">Completion: {{ project.completion }}</h5>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="thumbnail-container">
                                            <img src="{{ project.img }}" alt="{{ project.title }} diagram" class="thumbnail">
                                        </div>
                                    </div>
                                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                                </div>
                                <h6 class="tag-text">Tags: 
                                    {% for tag in project.tags %}
                                    <span class="tag">{{ tag }}</span>
                                    {% endfor %}
                                </h6>
                                <div class="project-row">
                                    <span class="project-git">
                                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                                    </span>
                                    <span class="project-git">
                                        <a href="{{ project.pdf }}" class="project-git fa-solid fa-file-pdf fa-2xl" target="_blank" aria-label="link to project report"></a>
                                    </span>
                                    <a href="/templates/pages/{{ project.name }}.html" class="read-more-button">
                                        <button type="button" class="btn btn-outline-info">Read More</button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Controls for manual navigation -->
            <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<div class="filter">
    <h2 class="bold underline "> Filter Skills and Experiences</h2>
    <h7> (size indicates frequency of keyword)</h7>
    <br><br>
    <button type="button" class="btn btn-outline-info" id="reset">Click to Remove Filter</button>
    <div id="tag-cloud" class="tag-cloud"></div>
</div>

<section class="pad" id="exp">
    <h2 class="bold">Professional Experience</h2>
    <hr>
    <section id="roles">
        <h3> Internships </h3>
        {% for job in jobs.roles.internships %}
            <div class="project" id="{{job.company}}" data-tags="{{ job.tags | join(',') }}">
                <h4>{{ job.role }}</h4>
                <hr class="bar">
                <h5 class="completion">Duration: {{ job.time }}</h5>
                <div class="row">
                    <div class="col-md-3 col-12 logo-container d-flex justify-content-center align-items-center">
                        <img src="{{ job.img }}" alt="Company Logo" class="logo">
                    </div>
                    <p class="col-md-9 col-12 sum">{{ job.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in job.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <a href="/templates/pages/{{job.company}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>

</section>

<section class="pad" id="swe">
    <h2 class="bold">Software Engineering Projects</h2>
    <hr>
    <section class="pad" id="frontend">
        <h3> Frontend Projects </h3>
        {% for project in projects.swe.frontend %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class=" thumbnail-container">
                            <a href="https://www.youtube.com/watch?v={{ project.video_id }}" target="_blank">
                                <img src="https://img.youtube.com/vi/{{ project.video_id }}/hqdefault.jpg" alt="YouTube Thumbnail for {{project.title}}" class="thumbnail">
                                <div class="play-button">
                                    <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 5v14l11-7L8 5z" fill="#ffffff"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
    
    <section class="pad" id="backend">
        <h3> Backend Projects </h3>
        {% for project in projects.swe.backend %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>

    <section class="pad" id="database">
        <h3> Database Projects </h3>
        {% for project in projects.swe.database %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>

    <section class="pad" id="mobile">
        <h3> Mobile Projects</h3>
        {% for project in projects.swe.mobile %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <!--div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div-->
            </div>
        {% endfor %}
    </section>
</section>

<section class="pad" id="ml">
    <h2 class="bold">Machine Learning Projects</h2>
    <hr>
    <section class="pad" id="nlp">
        <h3> Natural Language Processing Projects </h3>
        {% for project in projects.aiml.nlp %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="pad" id="robotics">
        <h3> Robotics Projects </h3>
        {% for project in projects.aiml.robotics %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="pad" id="cv">
        <h3> Computer Vision Projects </h3>
        {% for project in projects.aiml.cv %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="pad" id="mlw">
        <h3> Classical Machine Learning Projects </h3>
        {% for project in projects.aiml.mlw %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}}" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>

</section>

<section class="pad" id="cyber">
    <h2 class="bold">Cyber Security Projects</h2>
    <hr>
    <h3> Computer Networks Projects </h3>
        {% for project in projects.cyber.networks %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
        </section>
</section>

<section class="pad" id="finstats">
    <section class="pad" id="finance">
        <h2 class="bold">Finance and Statistics Projects</h2>
        <hr>
        <h3> Finance Projects</h3>
            {% for project in projects.finstats.finance %}
                <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                    <h4>{{ project.title }}</h4>
                    <hr class="bar">
                    <h5 class="completion">Completion: {{ project.completion }}</h5>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="thumbnail-container">
                                <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                            </div>
                        </div>
                        <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                    </div>
                    <h6 class="tag-text">Tags: 
                        {% for tag in project.tags %}
                        <span class="tag">
                            {{ tag }}
                        </span>
                        {% endfor %}
                    </h6>
                    <div class="project-row">
                        <span class="project-git">
                            <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                        </span>
                        <span class="project-git">
                            <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                        </span>
                        <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                            <button type="button" class="btn btn-outline-info">Read More</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
        <section class="pad" id="stats">
        <h3> Statistics Projects</h3>
        {% for project in projects.finstats.statistics %}
            <div class="project" id="{{project.title}}" data-tags="{{ project.tags | join(',') }}">
                <h4>{{ project.title }}</h4>
                <hr class="bar">
                <h5 class="completion">Completion: {{ project.completion }}</h5>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="thumbnail-container">
                            <img src="{{project.img}}" alt="{{project.title}} diagram" class="thumbnail">
                        </div>
                    </div>
                    <p class="col-md-6 col-12 sum">{{ project.summary }}</p>
                </div>
                <h6 class="tag-text">Tags: 
                    {% for tag in project.tags %}
                    <span class="tag">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </h6>
                <div class="project-row">
                    <span class="project-git">
                        <a href="{{ project.github }}" class="fab fa-github" target="_blank" aria-label="link to github page"></a>
                    </span>
                    <span class="project-git">
                        <a href={{project.pdf}} class='project-git fa-solid fa-file-pdf fa-2xl' target='_blank' aria-label='link to project report'></a>
                    </span>
                    <a href="/templates/pages/{{project.name}}.html" class="read-more-button">
                        <button type="button" class="btn btn-outline-info">Read More</button>
                    </a>
                </div>
            </div>
        {% endfor %}
        </section>
</section>

<section class="pad" id="certs">
    <h2 class="bold">Certifications</h2>
    <hr>
    <div class="container">
    <div class="row">
        {% for cert in certs %}
            <div class="col-md-6">
                <div class="project" id="{{cert.name}}" data-tags="{{ cert.tags | join(',') }}">
                    <h4>{{ cert.name }}</h4>
                    <hr class="bar">
                    <h5 class="completion">Issued: {{ cert.issue }}</h5>
                    <div class="row">
                        <div class="col-md-6 col-12 logo-container d-flex justify-content-center align-items-center">
                            <img src="{{ cert.img }}" alt="Certificate" class="logo">
                        </div>
                        <p class="col-md-6 col-12 sum">
                            <a href="{{cert.link}}" target="_blank" class="read-more-button">
                                <button type="button" class="btn btn-outline-info">See Certificate</button>
                            </a>
                        </p>
                    </div>
                    <p>Tags: 
                        {% for tag in cert.tags %}
                        <span class="tag">
                            {{ tag }}
                        </span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <!--Finish the row and being a new row to put columns-->
            {% if loop.index % 2 == 0 and not loop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>

</section>
{% endblock %}