{% extends "layout.html" %}

{% block title %}
    Christopher's Portfolio
{% endblock %}

    
{% block content %}
<head>
    <link rel="stylesheet" href="/christopher.github.io/static/css/project.css">
</head>
<body>
    <div class="summary">
        <h1>{{ jobs.role }}</h1>
        <h3>Company: {{ jobs.company }}</h3>
        <h4>Duration: {{ jobs.time }}</h4>
        <p>{{ jobs.description }}</p>
        <p>Tags: 
            {% for tag in jobs.tags %}
            <span class="tag">
                {{ tag }}
            </span>
            {% endfor %}
        </p>
        <a href="index.html#{{jobs.company}}">
            <button type="button" class="btn btn-outline-info">Back to Home</button>
        </a>
    </div>
</body>
{% endblock %}